anaconda-client=1.6.*
conda>=4.8.2,<=4.8.5
conda-build>=3.18.9,<=3.19.3
jinja2>=2.10.1,<2.11.a0
jsonschema=2.6.*
requests>=2.22.*
docutils
pandas=0.23.*
pygithub>=1.34.*
colorlog=3.1.*
git=2.14.*
gitpython>=3.0.8,3.0.*
gitdb
smmap
gsort>=0.1.4
samtools
htslib
zlib
python>=3.7
pyyaml
fuzzywuzzy
python-levenshtein
boto3
check-sort-order
pytest
pytest-socket
bioawk
pysam
cyvcf2
networkx
