anaconda-client=1.6.*
conda=4.7.12
conda-build=3.18.9
jinja2>=2.10.1,<2.11.a0
jsonschema=2.6.*
requests>=2.20.*
docutils
pandas=0.23.*
pygithub>=1.34.*
colorlog=3.1.*
pip=10.0.*
git=2.14.*
gitpython=2.1.*
gsort>=0.0.6
samtools
htslib
zlib
python>=3.7
pyyaml
fuzzywuzzy
python-levenshtein
boto3
check-sort-order
pytest
pytest-socket

