# Circle CI Yaml
## Docs: https://circleci.com/docs/2.0/configuration-reference/

version: 2

variables:
  setup: &setup
    run:
      shell: /bin/bash
      name: Setup ggd dependencies
      command: .circleci/setup.sh
  run: &run
    run:
      shell: /bin/bash
      name: Filtering (and building) ggd-recipes
      command: .circleci/run-test.sh 
      no_output_timeout: 9900
  macos: &macos
    macos:
      xcode: "9.4.1" ## Using a macOS VM image (https://circleci.com/docs/2.0/executor-types/)
  linux: &linux
    machine: true ## Using a dedicated Linux VM image (https://circleci.com/docs/2.0/executor-types/)



jobs:
  test-linux:
    <<: *linux
    steps:
      - checkout 
      - *setup
      - *run
  test-macos:
    <<: *macos
    steps:
      - checkout 
      - *setup
      - *run
  master-test-linux:
    <<: *linux
    steps:
      - checkout 
      - add_ssh_keys:
          fingerprints:
            - "41:a1:20:62:42:25:d4:41:c1:4b:2e:1c:fb:69:b4:9f"
      - *setup
      - *run
  master-test-macos:
    <<: *macos
    steps:
      - checkout 
      - *setup
      - *run
        


workflows:
  version: 2
  build-n-filter-ggd-recipes:
    jobs:
      - test-linux
      - test-macos
  ggd-recipes-nightly-build:
    triggers: 
      - schedule:
          cron: "49 18 * * *"    ## "0 3 * * *" = ~ 9PM MST, 3AM UTC  
          filters:
            branches:
              only:
                - master
    jobs:
      - master-test-linux:
          context: ggd-genomics
      - master-test-macos:
          context: ggd-genomics


